@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Hello ASP.NET</title>
    <meta charset="utf-8" />
</head>
<body>
    <div id="app"></div>
    <script src="../../Scripts/npm/Main.js" type="text/javascript"></script>
</body>
</html>